.home {
  background-color: #282c34;
  color: white;
}

.form {
  max-width: 460px;
  margin: auto;
}

.total-persons {
  text-align: center;
  font-size: 7em;
}

.form p {
  text-align: center;
  font-size: 32px;
  margin-bottom: 8px;
}